services:
  api-gateway:
    build:
      context: ./services/api-gateway/ApiGateway
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - catalog-service
      - order-service
      - payment-service
    environment:
      - Jwt__Issuer=${Jwt__Issuer}
      - Jwt__Audience=${Jwt__Audience}
    networks:
      - monitoring

  catalog-service:
    build:
      context: ./services/catalog-service
      dockerfile: CatalogService/Dockerfile
    ports:
      - "5179:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - Jwt__Issuer=${Jwt__Issuer}
      - Jwt__Audience=${Jwt__Audience}
      - Jwt__Secret=${Jwt__Secret}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SUPABASE_SERVICE_KEY=${SUPABASE_SERVICE_KEY}
    networks:
      - monitoring

  order-service:
    build:
      context: ./services/OrderService
      dockerfile: Dockerfile
    ports:
      - "5180:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - Jwt__Issuer=${Jwt__Issuer}
      - Jwt__Audience=${Jwt__Audience}
      - Jwt__Secret=${Jwt__Secret}
      - ORDERS_SUPABASE_URL=${ORDERS_SUPABASE_URL}
      - ORDERS_SUPABASE_KEY=${ORDERS_SUPABASE_KEY}
      - ORDERS_SUPABASE_SERVICE_KEY=${ORDERS_SUPABASE_SERVICE_KEY}
      - PAYMENT_BASE_URL=${PAYMENT_BASE_URL}
    networks:
      - monitoring

  payment-service:
    build:
      context: ./services/payment-service/PaymentService
      dockerfile: Dockerfile
    ports:
      - "5181:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - Jwt__Issuer=${Jwt__Issuer}
      - Jwt__Audience=${Jwt__Audience}
      - Jwt__Secret=${Jwt__Secret}
      - Stripe__PublishableKey=${STRIPE_PUBLISHABLE_KEY}
      - Stripe__SecretKey=${STRIPE_SECRET_KEY}
      - Stripe__WebhookSecret=${STRIPE_WEBHOOK_SECRET}
    networks:
      - monitoring

networks:
  monitoring:
    external: true
